<section class="nu-list-view" data-nu-list-view>
  <header class="nu-surface-head">
    <h3 class="nu-card-title">Class List</h3>
    <span class="nu-help">129 rows</span>
  </header>
  <ul class="nu-list-view-items">
    <li class="nu-list-view-item"><span>BIO-102</span><span class="nu-help">Park A.</span></li>
    <li class="nu-list-view-item"><span>ENG-230</span><span class="nu-help">Han W.</span></li>
    <li class="nu-list-view-item"><span>MATH-441</span><span class="nu-help">Kim D.</span></li>
  </ul>
</section>
