<div class="nu-field">
  <span class="nu-label">Schedule mode</span>
  <div class="nu-radio-group">
    <label class="nu-radio">
      <input class="nu-radio-input" type="radio" name="schedule-mode" checked>
      <span class="nu-radio-dot"></span>
      <span class="nu-radio-label">Student</span>
    </label>
    <label class="nu-radio">
      <input class="nu-radio-input" type="radio" name="schedule-mode">
      <span class="nu-radio-dot"></span>
      <span class="nu-radio-label">Teacher</span>
    </label>
    <label class="nu-radio">
      <input class="nu-radio-input" type="radio" name="schedule-mode">
      <span class="nu-radio-dot"></span>
      <span class="nu-radio-label">Room</span>
    </label>
  </div>
</div>
