<div class="nu-field">
  <label class="nu-label" for="tag-input-field">Focus subjects</label>
  <div class="nu-tag-input">
    <span class="nu-tag-pill">Math<button class="nu-tag-remove" type="button">x</button></span>
    <span class="nu-tag-pill">Physics<button class="nu-tag-remove" type="button">x</button></span>
    <span class="nu-tag-pill">Biology<button class="nu-tag-remove" type="button">x</button></span>
    <input class="nu-tag-input-field" id="tag-input-field" type="text" placeholder="Add subject...">
  </div>
</div>
